all:
  hosts:
    haproxy-1:
      ansible_host: 172.16.139.217
      ansible_port: 22
    haproxy-2:
      ansible_host: 172.16.139.27
      ansible_port: 22
    webserver-1:
      ansible_host: 172.16.139.182
      ansible_port: 22
    webserver-2:
      ansible_host: 172.16.139.229
      ansible_port: 22
    webserver-3:
      ansible_host: 172.16.139.20
      ansible_port: 22
    webserver-4:
      ansible_host: 172.16.139.246
      ansible_port: 22
  children:
    haproxy:
      hosts:
        haproxy-1:
        haproxy-2:
    webserver:
      hosts:
        webserver-1:
        webserver-2:
        webserver-3:
        webserver-4:
